<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>

    <form action="/deslogar" method="post">
        <button id = "deslogar">Deslogar</button>
    </form>

    <form action="/buscarPorEstado">
        <select name="Uf" id = "selectEstado">
            <option> Selecione </option>
        </select>
    </form>
    
    <header>
        <nav>

        </nav>
    </header>

    <main>

    </main>

    <aside>

    </aside>

    <footer>

    </footer>


    <script src = "script/home.js"></script>
</body>
</html>