body{
    margin: 0;
    overflow: hidden;
}

header{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 10vh;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
}


main{
    background-color: rgb(70, 70, 70);
    width: 80vw;
    height: 80vh;
    margin-left: 0px;
    margin-top: 10vh;
    position: absolute;

}

aside{
    background-color: rgb(90, 90, 90);
    width: 20vw;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 10vh
}

footer{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 10vh;
    margin-top: 90vh;
    position: absolute;
}