body {
    margin: 0;
    overflow: hidden;
}

header{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 12vh;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
}


main{
    background-color: rgb(70, 70, 70);
    width: 80vw;
    height: 80vh;
    margin-left: 0px;
    margin-top: 10vh;
    position: absolute;

}

aside{
    background-color: rgb(90, 90, 90);
    width: 20vw;
    height: 78vh;
    position: absolute;
    right: 0;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 12vh;
    margin-top: 90vh;
    position: absolute;
}


button#deslogar{
    width: 80px;
    height: 50px;
    z-index: 2;
}

dialog#usuarios {
    width: 75vw;
    height: 75vh;
    padding: 10px;
    padding-top: 20px;
}

select#selectEstado{
    position: absolute;
    left: 50px;
    top: 15px;
    z-index: 2;
}

button#mostraDadosUser{
    width: 80px;
    height: 50px;
    z-index: 2;
}

table, th, td {
    border: 1px solid;
    padding: 10px;
  }

td.temBotao {
    padding: 0px;
    border: 0px;
    width: 70px;
    height: 20px;
    padding-left: 10px;
}

td.temBotao > button{
    border: 0px;
    background-color: rgb(253, 0, 0);
    color: white;
    width: 70px;
    height: 20px;
    cursor: pointer;
}

div#conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#logo{
    background-image: url(../img/logo.png);
    width: 6vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

div#nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

div#nav_menu > a{
    margin-left: 10vw;
    margin-top: 4vh;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(149, 147, 147);
    border-radius: 10px;
    width: 200px;
    padding: 5px;
}

div#itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

label {
    align-self: flex-start; 
    color: rgb(218, 218, 218);
}

button#botaoConfirmar{
    border: 2px solid white;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin-top: 20px;
}

#caixaAlterar {
    border: 2px solid black;
}

button {
    cursor: pointer
}

a {
    color: white
}

button.botaoFunc {
    background-image: linear-gradient(90deg, black, rgb(64, 64, 64));
    border: none;
    border-radius: 5px;
    color: white;
}

button.botaoFunc:hover{
    transition: 0.5s;
    transform: translateY(-4px);
}