*{
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    overflow: hidden;
}

header{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 12vh;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}


main{
    background-color: rgb(70, 70, 70);
    width: 80vw;
    height: 80vh;
    margin-left: 0px;
    margin-top: 8.5vh;
    position: absolute;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
}

button#btn_alugar {
    background-color: rgba(128, 128, 128, 0.9);
    font-size: 15px;
    color: white;
    width: 5vw;
    height: 5vh;
    box-shadow: 0px 5px 9px rgb(0, 0, 0, 0.8);
    border: none;
    border-radius: 10px;
    margin-bottom: 10vh;
}

button#btn_alugar:hover {
    background-color: rgba(56, 56, 56, 0.9);
    color: green;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(90, 90, 90);
    width: 20vw;
    height: 78vh;
    position: absolute;
    right: 0;
    top: 12vh;
    align-items: center;
}

footer {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 12vh;
    margin-top: 90vh;
    position: absolute;
}


button#deslogar{
    width: 80px;
    height: 50px;
    z-index: 2;
    box-shadow: 0px 5px 9px rgb(0, 0, 0, 0.8);
}

dialog#usuarios {
    width: 75vw;
    height: 75vh;
    padding: 10px;
    padding-top: 20px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    background-image: url(../img/pexels-pixabay-509922.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

select#selectEstado{
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 2;
}

button#mostraDadosUser{
    width: 80px;
    height: 50px;
    z-index: 2;
}

table, th, td {
    padding: 10px;
    padding-left: 15px ;
    padding-right: 15px;
  }

td.temBotao {
    padding: 0px;
    border: 0px;
    width: 70px;
    height: 20px;
    padding-left: 10px;
}

td.temBotao > button{
    border: 0px;
    color: white;
    width: 70px;
    height: 20px;
    cursor: pointer;
}

div#conteudo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

div#nav_menu > a{
    margin-left: 10vw;
    margin-top: 4vh;
}

div#search-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(150,150,150, 0.9);
    height: 6vh;
    width: 22vw;
    margin-left: 15vw;
    margin-top: 3vh;
    padding-left: 5px;
    border: 0px;
    border-radius: 30px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.7);
}

div#search-box > input#text-search{
    background: transparent;
    outline: none;
    border: none;
    color: black;
    width: 80%;
}

div#search-box > button#btn-search{
    border: none;
    border-left: 1px solid black;
    border-radius: 0px 30px 30px 0px;
    background-image: url("/img/search1.png");
    background-position: center;
    background-color: white;
    background-size: 50% 60%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 6vh;
}



input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(149, 147, 147);
    border-radius: 10px;
    width: 200px;
    padding: 5px;
}

div#itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

label {
    align-self: flex-start; 
    color: rgb(180, 180, 180);
}

button#botaoConfirmar{
    color: white;
    font-size: 18px;
    border: 0px;
    background-color: rgb(130, 130, 130);
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin-top: 20px;
}

button#botaoConfirmar:hover{
    color: rgb(30, 255, 0);
    background-color: rgb(46, 46, 46);

}

#caixaAlterar {
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    border: 0px;

}

button {
    cursor: pointer
}

a {
    color: white
}

button.botaoFunc {
    background-image: linear-gradient(90deg, black, rgb(64, 64, 64));
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 5px 9px rgb(0, 0, 0, 0.8);
}

button.botaoFunc:hover{
    transition: 0.5s;
    transform: translateY(-4px);
}

select {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}

tr#tabelaHeader {
    background-color: rgb(92, 218, 218);
}

table {
    border-spacing: 0;
    border-bottom: 2px solid rgb(65, 149, 149);
}

button.alterar { 
    background-color: rgb(185, 180, 50);
}

button.deletar {
    background-color: red;
}

tr.trDadosUser > td.tdDados {
    border-bottom: 1px solid rgba(0, 0, 0, 0.415);
}

img {
    border: 2px solid gray;
}

button#btn-search:hover {
    transition: 0.5s;
    opacity: 0.75;
}
