body{
    margin: 0;
    overflow: hidden;
}

header{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 10vh;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
}


main{
    background-color: rgb(70, 70, 70);
    width: 80vw;
    height: 80vh;
    margin-left: 0px;
    margin-top: 10vh;
    position: absolute;

}

aside{
    background-color: rgb(90, 90, 90);
    width: 20vw;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 10vh
}

footer {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 10vh;
    margin-top: 90vh;
    position: absolute;
}


button#deslogar{
    width: 80px;
    height: 50px;
    z-index: 2;
}

dialog#usuarios {
    width: fit-content;
    height: auto;
    padding: 10px;
    padding-top: 50px;

}

select#selectEstado{
    position: absolute;
    left: 50px;
    top: 15px;
    z-index: 2;
}

button#mostraDadosUser{
    width: 80px;
    height: 50px;
}

table, th, td {
    border: 1px solid;
    padding: 10px;
  }

td.temBotao {
    padding: 0px;
    border: 0px;
    width: 70px;
    height: 20px;
    padding-left: 10px;
}

td.temBotao > button{
    border: 0px;
    background-color: rgb(253, 0, 0);
    color: white;
    width: 70px;
    height: 20px;
    cursor: pointer;
}