*{
    padding:0;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(../img/casinhatech.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;


}

div#telaLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(25deg, rgba(0, 255, 255, 0.600), rgba(0, 0, 211, 0.603));
    margin-top: 25vh;
    margin-left: 65vw;
    margin-right: 10vw;
    height: 50vh;
    width: 25vw;
    border-radius: 20% 5%;
    box-shadow: 0 0 8px rgba(0, 132, 255, 0.6);
}
div#login{
    margin-top: 3vh;
    height: 100%;
}

div#login > h1{
    text-align: center;
    color:rgb(0, 255, 255);
}

div#login > .campos > label{
    text-align: center;
    display:block;
    width: 100%;
    margin-top: 12%;

}

.campos > input::placeholder{
    color: white;
}

div#login > .campos > input:focus{
    border-bottom: 2px solid rgb(0, 255, 0);
    color:rgb(0, 255, 0);
}

div#login > .campos > input{
    color: white;
    width: 100%;
    display: block;
    padding-left: 5px;
    margin-bottom: 30px;
    border: none;
    border-radius: 3px;
    background: transparent;
    outline: none;
    border-bottom: 2px rgb(0, 100, 228) solid;

}

div#login > button{
    background-image: linear-gradient(30deg, rgb(6, 79, 163), rgb(7, 64, 238));
    width: 100%;
    height: 4vh;
    color:rgb(255, 255, 255);
    border: 0px;
    border-radius: 15px;
    margin-top: 10vh;
    font-size: 20px;

}

div#login > button:hover{
    cursor: pointer;
    color:rgb(0, 255, 255);
}
