
* {
    padding:0;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/21/00/42/hexagon-3337447_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

div#cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(180deg, #e809ff, #0fe2ff);
    padding-bottom: 10px;
    border-radius: 10px;
}

div#cadastro > h1 {
    text-align: center;
}

div#cadastro > div#dados_essenciais,div#localização{
    width: 50%;
    height: 100%;
}

div#cadastro > div#localização> input {
    width: 200px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

div#cadastro > div#dados_essenciais > input {
    width: 200px;
    height: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

div#btn{
    width: 100%;
    height: 15vh;

}
div#cadastro > div#btn > button {
    float: left;
    background-color: #e809ff;
    width: 12vw;
    height: 5vh;
    margin-left: 10vw;
    margin-right: 50%;
    border-radius: 15px;
    border: 0px;
}

div#cadastro > div#btn input#reset {
    float: left;
    background-color: #e809ff;
    width: 12vw;
    height: 5vh;
    margin-left: 50%;
    margin-right: 10vw;
    border-radius: 15px;
    border: 0px;
}
