
* {
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/21/00/42/hexagon-3337447_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

div#cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(180deg, #e809ff, #0fe2ff);
    padding-bottom: 10px;
    border-radius: 10px;
}

div#cadastro > input {
    
    width: 200px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

div#cadastro > h1 {
    text-align: center;
}

div#cadastro > label {
    margin-left: auto;
    margin-right: auto;
}

div#cadastro > button {
    background-color: #e809ff;
    width: 8vw;
    height: 3vh;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 0px;
}
